<div class="container">
  <app-cockpit (bpCreated)="onBlueprintAdded($event)"
               (serverCreated)="onServerAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
<div class="d-flex gap-4">
  <button (click)="onChangeFirst()" class="btn btn-primary mb-lg-4">Change the first element</button>
  <button class="btn btn-danger mb-lg-4" (click)="onDestroyFirst()">Destroy the first component</button>
</div>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [name]="serverElement.name" [srvElement]="serverElement">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
